$dark-bg-main: #202022;
$white-bg-main: #FCFCFC;
$dark-bg-component: #28282A;
$gray-color: #888888;
$white-color: #fff;
$green-color: #27A83C;
$red-color: #D11919;
$blue-color: #21A0A0;
$blue-color-hover: #2FB7B7;
$orange-color: #F36F21;
$orange-color-hover: #F4803C;